html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Lato",sans-serif;
    color:#666;
    line-height: 1.8rem ;   
}
.background--image1{
    background-image: url(./img/bg.jpg);
    min-height: 100%;
}
.background--image2{
    background-image: url(./img/bg2.jpg);
    min-height: 80%;
}
.background--image3{
    background-image: url(./img/bg3.jpg);
    min-height: 80%;
}

.background--image4{
    background-image: url(./img/bg4.jpg);
    min-height: 80%;
}
.background--image1,
.background--image2,
.background--image3,
.background--image4{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading-container{
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    

}
.heading-container__heading{
    background-color: black;
    color: white;
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    outline: 0.5rem inset purple;
    outline-offset: 1rem;
    line-height: 5rem;
}
.heading-container__logo{
    width: 30%;
    opacity: 1;

}
.heading-container__text{
    background-color: black;
    color: white;
    padding: 0.8rem;
    line-height: 5rem;
    border-top-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    outline: 0.4rem inset purple;
    outline-offset: 0.2rem;
    text-transform: capitalize;
}
.section{
    text-align: center;
    padding: 3rem 5rem;
}
.section--light{
    background-color: rgb(241,241,241);
    color: #666;
}
.section--dark{
    background-color: #282E34;
    color: #ddd;
}